<footer class="site-footer">
    <div class="more">
        <div class="link-with">
            <h4>Свържете се с нас:</h4>

            <ul>
                <li><a class="first" href="https://www.facebook.com/profile.php?id=100008440088832&locale=bg_BG"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="last" href="https://www.instagram.com/{{ site.instagram }}"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>

            <p><strong>Имейл:</strong> {{ site.email }}</p>

            <p><strong>Телефон:</strong> {{ site.phone }}</p>
        </div>
    </div>
</footer>