@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

html {
    font: 16px/1.5 Arial, sans-serif;
}

body {
    font: inherit;
    background: linear-gradient(123.5deg, rgb(244, 219, 251) 29.3%, rgb(255, 214, 214) 67.1%);
    padding: auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font: 1em/1.2 Georgia, serif;
    padding: 1em 0 0.5em 0;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p { padding-bottom: 0.5em; }

.site { padding: 0.5em; }