.link-with {
    transform: scale(2);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.3em;
    margin-top: 7.5em;
}

.link-with h4 {
    padding: 0.5em;
    text-align: center;
    background-color: #2b2b2b;
    color: #fff;
}

.link-with ul {
    display: flex;
    justify-content: space-around;
    list-style: none outside;
}

.link-with a {
    font-size: 3em;
}

.link-with .first {
    color: blue;
}

.link-with .last {
    color: red;
}

.link-with p {
    padding: 0 0.5em 0.3em 0.5em;
}