.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(61,7,69);
    background: linear-gradient(111deg, rgba(61,7,69,1) 0%, rgba(98,0,112,0.8576680672268908) 75%);
    color: #fff;
    border-radius: 0.3em;
}

.site-title {
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em;
    text-shadow: 0 0 0.5em black, 0 0 1em black;
}

.site-logo {
    max-width: 10em;
    max-height: 5em;
    border-radius: 0.3em;
}

.site-nav-bar ul {
    display: flex;
}

.site-nav-bar li {
    list-style: none outside;
    padding: 0 1em;
}

.site-nav-bar a {
    padding: 0.5em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    color: #61005D;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.5) inset;
}