<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/pages/styles_home.css">
    <link rel="icon" href="../assets/images/site-logo.png">
    <title>{{ site.title }}</title>
</head>

<body>
    <div class="site">
        {% include header.html %}

        <main class="site-main">
            <section class="site-poster">
                <img src="../assets/images/page-poster.webp" alt="">
            </section>

            <aside class="site-aside">
                <h3>Основни спецификации на вейп Randm Tornado 7000:</h3>

                <ul>
                    <li>Дръпки: 7000</li>
                    <li>Течност: 14мл - предварително заредена</li>
                    <li>Батерия: 850мА/ч капацитет</li>
                    <li>Зарядно: type C</li>
                    <li>Контрол на въздушния поток: Да</li>
                    <li>Никотин: 2%</li>
                    <li>100% автентични</li>
                    <li>RGB светлина при употреба</li>
                    <li>Различни видове уникални вкусове</li>
                </ul>
            </aside>

            <article>
                <section>
                    <img class="align-right" src="../assets/images/main_vape.webp" alt="">

                    <h2>Randm Tornado 7000<br>Детайлно описание на вейпа</h2>

                    <p>Устройството Randm Tornado 7000 е вейп за еднократна употреба с контрол на въздушния поток и възможност за 
                        зареждане. Съдържа 14мл предварително заредена течност, която се равнява на около 7000 дръпки. Никотинът в
                        тези вейпове е 2% - подходящи са както за активни пушачи, така и за хора, които просто искат да се насладят
                        на неповторимите вкусове на този вейп. Наличието на голям борй вкусове дава възможност на клиента сам да
                        избере своето предпочитание. Контролът на въздушния поток пък ви позволява сами да изберете най-добрата
                        опция според вашите предпочитания за наситеността на вкуса, а портът type C в долната част на устройството 
                        предоставя възможност за презареждане при необходимост. Вейпът свети в 6 различни цвята RGB светлина когато се
                        употребява. Всички тези характеристики правят продукта ни уникален!</p>
                </section>
            </article>

            {% include gallery.html %}
        </main>

        {% include footer.html %}
    </div>
</body>

</html>
