<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/pages/styles_products.css">
    <link rel="icon" href="../assets/images/site-logo.png">
    <title>{{ site.title }}</title>
</head>

<body>
    <div class="site">
        {% include header.html %}

        <main class="site-main">
            <h2>Някои от нашите продукти:</h2>

            <div class="in-stock">
                <span class="card">
                    <img src="../assets/images/products/banana_ice.webp" alt="">

                    <h4>Banana Ice</h4>

                    <p>7000 puffs | <strong>12.99$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Banana Ice, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/lush_ice.webp" alt="">

                    <h4>Lush Ice</h4>

                    <p>7000 puffs | <strong>12.99$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Lush Ice, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/cherry.webp" alt="">

                    <h4>Cherry</h4>

                    <p>7000 puffs | <strong>12.49$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Cherry, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/cool_mint.webp" alt="">

                    <h4>Cool Mint</h4>

                    <p>7000 puffs | <strong>12.49$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Cool Mint, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/peach_ice.jpg" alt="">

                    <h4>Peach Ice</h4>

                    <p>7000 puffs | <strong>12.99$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Peach Ice, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/gummy_bear.webp" alt="">

                    <h4>Gummy Bear</h4>

                    <p>7000 puffs | <strong>12.49$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Gummy Bear, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/grape_ice.webp" alt="">

                    <h4>Grape Ice</h4>

                    <p>7000 puffs | <strong>12.99$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Grape Ice, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/strawberry_banana.jpg" alt="">

                    <h4>Strawberry Banana</h4>

                    <p>7000 puffs | <strong>12.49$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Strawberry Banana, който се задържа максимално дълго в устата</p>
                    </details>
                </span>

                <span class="card">
                    <img src="../assets/images/products/blueberry_bubblegum.webp" alt="">

                    <h4>Blueberry Bubblegum</h4>

                    <p>7000 puffs | <strong>12.49$</strong></p>

                    <details>
                        <summary>Още за продукта...</summary>

                        <p>Сладък и наситен плодов вкус Blueberry Bubblegum, който се задържа максимално дълго в устата</p>
                    </details>
                </span>
            </div>
        </main>
    </div>
</body>

</html>