article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 3px solid #CCC;
    padding: 0.5em;
    margin: 0 auto;
}

article section {
    flex-basis: 100%;
} 

article section > h2 {
    text-align: center;
}

article section p {
    text-indent: 2em;
    font-size: 1.2em;
}

.align-right {
    float: right;
    max-width: 25%;
    margin: 1.5em 0 0 1.5em;
    border-radius: 0.3em;
    transition: transform 0.5s;
}

.container li {
    font-size: 1.2em;
    padding: 0.1em;
}

.container li {
    margin-left: 1.2em;
}